@model ProductInsertDTO

<div class="container mt-5">
    <form asp-action="ProductEkle" method="post">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="productName">Ürün Adı</label>
            <input type="text" class="form-control" asp-for="ProductName" placeholder="Ürün Adı Girin">
        </div>
        <div class="form-group">
            <label for="unitPrice">Fiyat</label>
            <input type="number" class="form-control" asp-for="UnitPrice" placeholder="Fiyat Girin">
        </div>
        <div class="form-group">
            <label for="unitsInStock">Ürün Miktarı</label>
            <input type="number" class="form-control" asp-for="UnitsInStock" placeholder="Ürün Miktarı Girin">
        </div>
        <div class="form-group">
            <label for="quantityPerUnit">Birim Başına Miktar</label>
            <input type="text" class="form-control" asp-for="QuantityPerUnit" placeholder="Birim Başına Miktar Girin">
        </div>
 
        <div class="form-group">
            <label for="unitsInStock">Ürün Miktarı</label>
            <input type="number" class="form-control" asp-for="UnitsOnOrder" placeholder="Siparişteki Miktar">
        </div>
        <div class="form-group">
            <input class="form-check-input" type="checkbox" value="" asp-for="Discontinued">
            <label class="form-check-label" for="exampleCheckbox">
                Üretiliyor mu?
            </label>
        </div>
        <div class="form-group">
            <label for="category">Kategori</label>
            <select class="form-control" asp-for="CategoryID">
                @foreach (var item in ViewBag.Categories)
                {
                <option value="@item.CategoryID">@item.CategoryName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="supplier">Üretici</label>
            <select class="form-control" asp-for="SupplierID">
                @foreach (var item in ViewBag.Suppliers)
                {
                <option value="@item.SupplierID">@item.CompanyName</option>
                }

            </select>
        </div>
        <button type="submit" class="btn btn-primary">EKLE</button>
    </form>
</div>